<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
   
    <div class="grid-container">
        <header  class="header">
            <div class="brand">
                <button onClick="openMenu()">
                    &#9776;
                </button>
             <a href="index.html">Amazon</a>
            </div>

            <div class="header-links">
                <a href="signin.html">Sign in</a>
                <a href="cart.html"> Cart</a>

            </div>
        </header>
         <aside class="sidebar">
             <button onClick='closeMenu()'>
                 X
             </button>
             <h3>Shopping Categories</h3>
             <ul>
                <li>
                    <a href="#">
                        pants
                    </a>
                </li> 
                <li>
                    <a href="#">
                        shirts
                    </a>
                </li> <li>
                    <a href="#">
                        shoes
                    </a>
                </li> 

             </ul>

         </aside>
       
        <main class="main">

            <div class="content">
                <ul class="products">
                    <li>
                       <div class="product">
                           <img class="product-image" src="images/d1.jpg" alt="product"/>
                           <div class="product-name">
                              <a href="#">
                                Slim shirt
                              </a>
                           </div>
                           <div class="product-brand">
                               nike
                           </div>
                           <div class="product-price">
                               $80.99
                           </div>
                           <div class="product-rating">
                            4.5 starts(10 reviews)
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product"/>
                            <div class="product-name">
                               <a href="#">
                                 Slim shirt
                               </a>
                            </div>
                            <div class="product-brand">
                                nike
                            </div>
                            <div class="product-price">
                                $80.99
                            </div>
                            <div class="product-rating">
                             4.5 starts(10 reviews)
                         </div>
                         </div>
                     </li>
                     <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product"/>
                            <div class="product-name">
                               <a href="#">
                                 Slim shirt
                               </a>
                            </div>
                            <div class="product-brand">
                                nike
                            </div>
                            <div class="product-price">
                                $80.99
                            </div>
                            <div class="product-rating">
                             4.5 starts(10 reviews)
                         </div>
                         </div>
                     </li>
                     <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product"/>
                            <div class="product-name">
                               <a href="#">
                                 Slim shirt
                               </a>
                            </div>
                            <div class="product-brand">
                                nike
                            </div>
                            <div class="product-price">
                                $80.99
                            </div>
                            <div class="product-rating">
                             4.5 starts(10 reviews)
                         </div>
                         </div>
                     </li>
                     <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product"/>
                            <div class="product-name">
                               <a href="#">
                                 Slim shirt
                               </a>
                            </div>
                            <div class="product-brand">
                                nike
                            </div>
                            <div class="product-price">
                                $80.99
                            </div>
                            <div class="product-rating">
                             4.5 starts(10 reviews)
                         </div>
                         </div>
                     </li>
                     <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product"/>
                            <div class="product-name">
                               <a href="#">
                                 Slim shirt
                               </a>
                            </div>
                            <div class="product-brand">
                                nike
                            </div>
                            <div class="product-price">
                                $80.99
                            </div>
                            <div class="product-rating">
                             4.5 starts(10 reviews)
                         </div>
                         </div>
                     </li>
                     
                </ul>
            </div>
            
        </main>
        <footer class="footer">
           All Rights reserved
        </footer>
    </div>
<script>

//    function openMenu (){
       
//        console.log('hey');

//        document.querySelector('.sidebar').classList.add('open');
//    }

openMenu = () => {
    console.log('hey');

document.querySelector('.sidebar').classList.add('open');

}


closeMenu = () => {
    console.log('close')


document.querySelector('.sidebar').classList.remove('open');

document.querySelector.classList.add('close');
}
</script>
</body>
</html>